# DATA BASE CONFIGURATION
# fr
DB_HOST_fr=
# ch
DB_HOST_ch=
# us
DB_HOST_us=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

# Frontend configuration
# ch
VITE_API_URL_ch=
VITE_APP_TITLE_ch=
# fr
VITE_API_URL_fr=
VITE_APP_TITLE_fr=
# us
VITE_API_URL_us=
VITE_APP_TITLE_us=